/* Variables */
:root {
  --deep-red: #b83347;
  --slightly-lighter-red: #ba3647;
  --soft-red-pinkish: #cc4e54;
  --soft-red-variant: #cb4d53;
  --red-tone-with-pink: #c03e4c;
}

/* Main content styles */
.body {
  padding: 50px;
}

.main-content {
  background-color: #fffafb;
  padding: 20px;
  min-height: 100vh;
}

/* Navbar styles */
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b83347;
  padding: 0 15px;
}

.navbar-logo-title {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 7px;
}

.navbar-title {
  margin-left: 5px;
  margin-bottom: 25px !important;
  color: #fff !important;
}

.menu-button {
  background-color: transparent;
  border: none;
}

/* Containers */
.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
  margin-top: 30px;
}

/* Cards */
.login-card {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 8px 27px;
  border-radius: 8px;
}

.share-card {
  padding: 20px;
  padding-top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: -150px;
}

/* Media queries */
@media (max-width: 768px) {
  .menu-text {
    display: none !important;
  }

  .menu-icon {
    display: inline-block;
    color: #fff;
    font-size: 24px;
  }

  .navbar-title {
    color: #fff !important;
    line-height: 1.2;
    margin-top: 20px;
  }

  .login-container {
    height: 80vh;
  }

  .register-container {
    height: 95vh;
  }

  .main-content {
    padding: 0px;
  }

  .body {
    padding: 0px;
  }
}

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}
